* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #FDFCFC;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

.header {
    width: 1076px;
    margin: 46px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #272D38;
    text-decoration: none;
}

.menu {
    display: inline-flex;
}

.menu-items {
    display: flex;
    gap: 44px;
    list-style-type: none;
}

.menu-item-link {
    text-decoration: none;
    color: black;
}

.circle {
    width: 679px;
    height: 679px;
    border-radius: 50%;
    background: url("images/circle.svg") no-repeat center center;
    background-size: 679px 679px;
    position: absolute;
    top: -324px;
    left: -221px;
}

.main-info {
    display: flex;
    flex-direction: row;
    margin: 97px auto 0;
}

.container {
    width:1065px;
    
}

.main-text {
    font-size: 64px;
    font-weight: 700;
    width: 540px;
    height: 192px;
    line-height: 100%;
    margin-bottom: 24px;
    color: #272D38;
}

.main-info-description {
    font-size: 18px;
    width: 525px;
    height: 56px;
    margin-bottom: 39px;
    color: #272D38;
}

.contact-button-first {
    width: 167px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    background: #8EADD5;
    border-radius: 8px;
    border: 0; 
}
.contact-button-second {
    width: 167px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    background: #8EADD5;
    border-radius: 8px;
    border: 0; 
}

.main-info-pic {
    margin-left: 75px;
}

.partners {
    width: 915px;
    height: 118px;
    margin: 157px auto 16px;  
}

.partners-info {
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #667085;
    width: 227px;
    height: 16px;
    margin: 0 auto 16px;
}

.partners-logos {
    width: 915px;
    height: 86px;
    background-color: #F6F6F6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos-image {
    display: block;
    width: 867px;
    height: 38px;
}

.branding-design-system {
    display: flex;
    flex-direction: row;
    margin: 136px auto 0;
}

.branding-design-system-pic {
    margin-right: 179.31px;
}

.branding-design-system-text {
    font-size: 48px;
    font-weight: 700;
    width: 435.69px;
    height: 102.35px;
    line-height: 100%;
    margin-top: 97px;
    margin-bottom: 25.59px;
    color: #272D38;
}

.branding-design-system-description {
    font-size: 16px;
    width: 392.22px;
    height: 83.16px;
    margin-bottom: 44px;
    color: #272D38;
}

.arrow-link-button {
    border: 0;
    background: #FDFCFC;
}

.custome-plugin-development {
    display: flex;
    flex-direction: row;
    margin: 136px auto 0;
}

.custome-plugin-development-text {
    font-size: 48px;
    font-weight: 700;
    width: 435.69px;
    height: 102.35px;
    line-height: 100%;
    margin-top: 97px;
    margin-bottom: 25.59px;
    color: #272D38;
}

.custome-plugin-development-description {
    font-size: 16px;
    width: 392.22px;
    height: 83.16px;
    margin-bottom: 44px;
    color: #272D38;
}

.custome-plugin-development-pic {
    margin-left: 179.31px;
}

.testimonials {
    width:1065px;
    height: 515px;
    margin: auto;
}

.testimonials-title {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #272D38;
    line-height: 27.5px;
    width: 122px;
    height: 24px;
    margin: 0 auto 16px;
}

.testimonials-description {
    display: block;
    font-size: 48px;
    font-weight: 700;
    width: 435.69px;
    height: 102.35px;
    text-align: center;
    line-height: 100%;
    margin: 0 auto 38.65px;
    color: #272D38;
}

.testimonials-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials-block {
    width: 345px;
    height: 334px;
    background: #F6F6F6;
    border-radius: 20px;
}

.testi-block-img {
    display: block;
    width: 129px;
    height: 130px;
    margin: 32px auto 8px;
}

.testi-block-username {
    display: block;
    width: 138px;
    height: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 0  auto 27px;
    text-align: center;
    color: #272D38;
}

.testi-block-text {
    display: block;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    line-height: 130%;
    width: 281px;
    height: 77px;
    margin: 0 auto 32px;
    color: #272D38;
}

.contacts-info {
    display: flex;
    flex-direction: row;
    margin: 136px auto 138.57px;
    background: #F6F6F6;
    border-radius: 20px;
}

.contacts-info-text {
    font-size: 48px;
    font-weight: 700;
    width: 361px;
    height: 102.1px;
    line-height: 100%;
    margin-top: 100.1px;
    margin-bottom: 16.02px;
    color: #272D38;
}

.contacts-info-description {
    font-size: 16px;
    width: 360px;
    height: 52.05px;
    margin-bottom: 32.03px;
    color: #272D38;
}

.contacts-info-pic {
    margin-right: 90px;
}

.footer {
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
}

.footer-section {
    display: flex;
    margin: 0 auto;
}

.digital-agency-links {
    width: 189.29px;
    height: 114px;
    margin: 105px 178.39px 224px 183.32px;
}

.d-g-title {
    display: block;
    width: 139.74px;
    height: 26px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
    color: #272D38;
    text-decoration: none;
}

.d-g-text {
    display: block;
    width: 189.29px;
    height: 48px;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #272D38;
    text-decoration: none;
}

.resources-links {
    width: 141px;
    height: 194px;
    margin: 105px 178px 110px 0;
}

.resources-title {
    display: block;
    width: 102.07px;
    height: 26px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
    color: #272D38;
    text-decoration: none;
}

.resources-text {
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: #272D38;
    text-decoration: none;
    margin-top: 24px;
}

.company-links {
    width: 85.23px;
    height: 194px;
    margin: 105px 177.77px 110px 0;
}

.company-links-title {
    display: block;
    width: 85.23px;
    height: 26px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
    color: #272D38;
    text-decoration: none;
}

.social-media-links {
    width: 123.19px;
    height: 194px;
    margin: 105px 183.81px 144px 0;
}

.social-media-title {
    display: block;
    width: 123.19px;
    height: 26px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
    color: #272D38;
    text-decoration: none;
}

.the-end {
    display: block;
    width: 319px;
    height: 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: #272D38;
    margin: 0 auto 18px;
}

@media screen and (min-width: 428px) {
    .mobile-logo {
        display: none;
    }
    .menu-button {
        display: none;
    }
}

@media screen and (max-width: 428px) {  
    body {
        width: 428px;
    }    
    .header {
        width: 380px;
        height: 24px;
        margin: 48px auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        display: none;
    }
    .mobile-logo {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #272D38;
        text-decoration: none;
    }
    .menu {
        display: none;
    }
    .menu-button {
        display: flex;
        flex-direction: column;
        gap: 6.22px;
        border: 0;
        background: #FFFFFF;
    }
    .menu-strip {
        display: block;
        width:20px;
        height:1.05px;
        background:#272D38;
        border: none;
    }

    .container {
        width: 380px;
    }
    .main-info {
        display: flex;
        flex-direction: column;
        margin: 95px auto 0;
    }
    .main-info-content {
        text-align: center;
    }
    .contact-button-first {
        width: 140px;
        height: 35px;
        font-size: 14px;
        margin: 34px auto 0;
    }
    .main-text {
        width: 378px;
        height: 120px;
        line-height: 100%;    
        font-size: 40px;
        margin: 0 auto;
    }
    .main-info-description{
        width: 378px;
        height: 56px;
        font-size: 16px;
        margin: 24px auto 0;
    }
    .main-info-pic {
        margin: 48px auto 0;
    }

    .partners {
        width: 380px;
        margin: 120px auto 0;  
    }
    .partners-info {
        font-size: 14px;
    }
    .partners-logos {
        width: 380px;
        height: 86px;
    }
    .logos-image {
        display: block;
        width: 348px;
        height: 38px;
    }

    .branding-design-system {
        display: flex;
        flex-direction: column-reverse;
        margin: 88px auto 0;
    }
    .branding-design-system-text {
        font-size: 32px;
        text-align: center;
        width: 380px;
        height: 76px;
        margin: 0 auto;
    }
    .branding-design-system-description {
        width: 380px;
        height: 53px;
        font-size: 14px;
        margin: 24px auto 32px;
    }
    .arrow-link-button {
        display: block;
        width: 21.54px;
        transform: rotate(90deg);
        margin: 0 auto;
    }
    .branding-design-system-pic {
        width: 375px;
        height: 384px;
        margin: 24.46px auto 0;
    }

    .custome-plugin-development {
        display: flex;
        flex-direction: column;
        margin: 120px auto 0;
    }
    .custome-plugin-development-text {
        font-size: 32px;
        text-align: center;
        width: 380px;
        height: 76px;
        margin: 0 auto;
    }
    .custome-plugin-development-description {
        width: 380px;
        height: 53px;
        font-size: 14px;
        margin: 24px auto 32px;
    }
    .custome-plugin-development-pic {
        width: 375px;
        height: 384px;
        margin: 24.46px auto 0;
    }

    .testimonials {
        width: 380px;
        height: 1203px;
        margin: 120px auto 0;
    }
    .testimonials-title {
        font-size: 12px;
        width: 88px;
        height: 24px;
        margin: 120px auto 0;
    }
    .testimonials-description {
        font-size: 32px;
        text-align: center;
        width: 380px;
        height: 65px;
        margin: 16px auto 0;
    }
    .testimonials-blocks {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 16px auto 0;
    }
    
    .contacts-info {
        margin: 120px auto 128px;
    }
    .contacts-info-pic {
        display: none;
    }
    .contacts-info-content {
        width: 380px;
    }
    .contacts-info-text {
        font-size: 32px;
        text-align: center;
        margin: 56px auto 32px;
    }
    .contacts-info-description {
        font-size: 16px;
        text-align: center;
        margin: 0 auto 48px;
    }
    .contact-button-second {
        display: block;
        width: 167px;
        height: 48px;
        margin: 0 auto 48.95px;
    }

    .footer-section {
        flex-direction: column;
        text-align: center;
    }
    .digital-agency-links {
        width: 189.29px;
        height: 110px;
        margin: 104px auto 72px;
    }
    .d-g-title {
        margin-bottom: 34px;
    }
    .d-g-text {
        text-align: center;
    }
    .resources-links {
        margin: 0 auto 72px;
    }
    .resources-title {
        margin-bottom: 32px;
    }
    .company-links {
        margin: 0 auto 72px;
    }
    .company-links-title {
        margin-bottom: 32px;
    }
    .social-media-links {
        margin: 0 auto;
    }
    .social-media-title {
        margin-bottom: 32px;
    }
    .the-end {
        font-size: 12px;
        margin: 92px auto 24px;
        text-align: center;
    }
    }
